@import '~css-vars/css-vars';
@import './themes/Nord';

$css-vars-use-native: true;

@include css-vars((
  --base00: $base00,
  --base01: $base01,
  --base02: $base02,
  --base03: $base03,
  --base04: $base04,
  --base05: $base05,
  --base06: $base06,
  --base07: $base07,
  --base08: $base08,
  --base09: $base09,
  --base0A: $base0A,
  --base0B: $base0B,
  --base0C: $base0C,
  --base0D: $base0D,
  --base0E: $base0E,
  --base0F: $base0F,
  --base0ATransparent: rgba($base0A, 0.3),
  --base05Transparent: rgba($base05, 0.04),
  --base00Transparent: rgba($base00, 0.4),
  --base0CTransparent: rgba($base0C, 0.3)
));

.debug-panel{
  position: absolute;
  background-color: var(--base00);
  overflow-x: hidden;
  overflow-y: hidden;
  font-size: 12px;
  z-index: 10;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  
  .tree-container{
    height: calc(100% - 2em);
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 10px;
    }
     
    &::-webkit-scrollbar-thumb {
      background: var(--base04);
      border-radius: 20px;
    }
    
    &::-webkit-scrollbar-track {
      background: transparent;
      border-radius: 20px;
    }
  }
  .unselectable{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none; 
        -ms-user-select: none;
            user-select: none;
  }
  .tree{
    .tree-node{
      padding:0.1em 0 0.1em 1em;
      position:relative;

      &:hover{
        background-color: var(--base05Transparent);

        > .tool,
        > .laya{
          display:inline;
        }
      }

      &.highlight{
        background-color: var(--base0A);
      }

      span{
        cursor: default;
        color: var(--base07);
        font-size: 1em;
        font-family: Consolas, Lucida Console, Courier New, monospace;
        padding:0 0 0 0.6em;

        b{
          color: var(--base0E);
        }
      }

      > .chevron{
        color: var(--base0F);
        cursor: default;
        font-style: normal;
        font-size: 1.4em;
        position:absolute;
        top:-1px;
        cursor:pointer;

        &:hover{
          color: var(--base08);
        }
      }

      
      > .children,
      > .controllers,
      > .laya,
      > .icon{
        display: inline;
        color: var(--base05);
        padding: 0 0 0 1.1em;
        cursor: pointer;
        
        &:hover{
          color: var(--base0E);
        }
      }

      > .icon{
        padding: 0 0 0 0.6em;
      }

      > .laya{
        display:none;
      }

      > .tool{
        display: inline;
        padding-left: 5px;
        color: #2aa198;
        cursor: pointer;
        display:none;

        &:hover{
          color: var(--base08);
        }
      }

      .copy-to-clipboard{
        &.copied{
          color:var(--base0B);
        }
      }
      
    }

    .tree{
      padding-left:1em;
    }
  }

  .tools-bar{
    background-color: var(--base01);
    /* padding: 5px; */
    height: 2em;
    display: inline-flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;

    .select-to-inspect{
      color: var(--base08);
      display: inline-flex;
      padding: 0 10px;
      vertical-align: middle;
      /* vertical-align: -webkit-baseline-middle; */
      cursor: pointer;
      height: 100%;
      align-items: center;

      &:hover{
        color: var(--base0C);
      }

      &.toggled-on{
        background-color: var(--base08);
        color: var(--base00);
      }
    }

    .filter-tree,
    .switch-theme,
    .dock-to{
      height: 100%;
      display: flex;
      align-items: center;
    }

    .switch-theme{
      margin:0 10px;

      .current-theme-name{
        margin-right:10px; 
      }
    }

    .dock-to{
      span{
        padding-right:1em;
      }
    }


    input[type="text"]{
      border:none;
      box-sizing: border-box;
      font-size: 1em;
      font-family: Consolas, Lucida Console, Courier New, monospace;
      color: var(--base08);
      background-color: var(--base01);
      padding:3px;
      height:100%;
      //margin-right:10px;
      outline:none;

      &::placeholder {
        color: var(--base0F);
      }

      &:focus{
        color: var(--base08);
        background-color: var(--base0CTransparent);

        &::placeholder{
          color: var(--base08);
        }
      }
    }

    span{
      color: var(--base08);
      font-size: 1em;
      font-family: Consolas, Lucida Console, Courier New, monospace;
    }
  }

  .dropdown{
    width: 22px;
    height: 100%;
    display: inline-block;
    position: relative;
    vertical-align: top;

    .head{
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--base02);
      cursor:pointer;

      .caret{
        color: var(--base0F);
        display: inline;
        font-size: 1.2em;
      }

      &:hover{
        background-color:var(--base0ATransparent);

        .caret{
          color: var(--base08);
        }
      }
    }

    .options{
      display: none;
      position: absolute;
      flex-direction: column;
      left: 100%;
      top: 0;
      z-index: 1;
      background-color: var(--base00);

      .option{
        padding: 2px 6px;
        cursor:default;

        span{
          color: var(--base0F);
        }

        &:hover{
          background-color: var(--base0CTransparent);
        }
      }
    }

    &.down{
      .options{
        .option{
          display:inline;
        }
      }
    }

    &.toggled-on{
      .head{
        .caret{
          transform: rotate(180deg);          
        }
      }
      .options{
        display:flex;
      }
    }

    
  }
}